body {
    font-family: 'Press Start 2P', monaco; /* This is just an example, you'd need to import the font */
    background-color: #85a7e4;
}

.container {
    display: flex;
    max-width: 1200px;
    margin: auto;
}

.sidebar {
    flex: 1;
    background-color: #c3c4c4;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 2vw;
    margin: 1vw;
    color: red
}

.sidebar a {
    color: rgb(158, 23, 23);
}
.sidebar a1 {
    color: rgb(8, 137, 236);
}

.content {
    flex: 3;
    background-color: #c3c4c4;
    box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.5);
    padding: 3vw;
    margin: 1vw;;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li a {
    text-decoration: none;
    color: black;
    display: block;
    padding: 10px;
    border: 1px solid #000;
}

ul li a:hover {
    background-color: #f0f0f0;
}
